# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

# Distribution folder
dist/

# Coverage directory used by tools like istanbul
coverage
